n8n-data/workflows/prompt-crud.json
{
  "id": "prompt-crud-v1",
  "name": "Prompt Registry CRUD",
  "active": true,
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        340
      ],
      "parameters": {
        "path": "prompts",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2,
      "webhookId": "prompt-crud-webhook-id"
    },
    {
      "id": "crud-handler",
      "name": "CRUD Handler",
      "type": "n8n-nodes-base.code",
      "position": [
        480,
        340
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// fetch-based HTTP helpers (replaces axios to avoid task runner crash)\nasync function _post(url, data, opts) {\n  var headers = {'Content-Type': 'application/json'};\n  if (opts && opts.headers) Object.assign(headers, opts.headers);\n  var r = await fetch(url, {method:'POST', headers: headers, body: JSON.stringify(data), signal: opts && opts.timeout ? AbortSignal.timeout(opts.timeout) : undefined});\n  var text = await r.text();\n  var json; try { json = JSON.parse(text); } catch(e) { json = text; }\n  if (!r.ok) { var err = new Error('HTTP ' + r.status); err.response = {status: r.status, data: json}; throw err; }\n  return {data: json, status: r.status};\n}\nasync function _get(url, opts) {\n  var qurl = url;\n  if (opts && opts.params) { var qs = new URLSearchParams(opts.params).toString(); if (qs) qurl += (url.includes('?') ? '&' : '?') + qs; }\n  var headers = {};\n  if (opts && opts.headers) Object.assign(headers, opts.headers);\n  var r = await fetch(qurl, {headers: headers, signal: opts && opts.timeout ? AbortSignal.timeout(opts.timeout) : undefined});\n  var text = await r.text();\n  var json; try { json = JSON.parse(text); } catch(e) { json = text; }\n  if (!r.ok) { var err = new Error('HTTP ' + r.status); err.response = {status: r.status, data: json}; throw err; }\n  return {data: json, status: r.status};\n}\nasync function _del(url, opts) {\n  var headers = {'Content-Type': 'application/json'};\n  if (opts && opts.headers) Object.assign(headers, opts.headers);\n  var r = await fetch(url, {method:'DELETE', headers: headers, body: opts && opts.data ? JSON.stringify(opts.data) : undefined});\n  var text = await r.text();\n  var json; try { json = JSON.parse(text); } catch(e) { json = text; }\n  if (!r.ok) { var err = new Error('HTTP ' + r.status); err.response = {status: r.status, data: json}; throw err; }\n  return {data: json, status: r.status};\n}\nasync function _put(url, body, opts) {\n  var headers = {};\n  if (opts && opts.headers) Object.assign(headers, opts.headers);\n  var r = await fetch(url, {method:'PUT', headers: headers, body: typeof body === 'string' ? body : JSON.stringify(body)});\n  var text = await r.text();\n  var json; try { json = JSON.parse(text); } catch(e) { json = text; }\n  return {data: json, status: r.status};\n}\nconst M = 'http://mlflow:5050/api/2.0/mlflow';\nconst body = $input.item.json.body;\nconst action = body.action;\n\ntry {\n\nif (!action) throw new Error('action required: create, get, get_or_create, list, update, delete, promote, seed, versions, diff, set_canary, get_canary, clear_canary');\n\nasync function post(path, data) {\n  var r = await fetch(M + path, {method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify(data)});\n  if (!r.ok) throw new Error('MLflow ' + r.status + ': ' + (await r.text()));\n  return r.json();\n}\n\nasync function apiGet(path) {\n  var r = await fetch(M + path);\n  if (!r.ok) throw new Error('MLflow ' + r.status + ': ' + (await r.text()));\n  return r.json();\n}\n\nasync function apiDel(path, data) {\n  var r = await _del(M + path, {data: data});\n  return r.data;\n}\n\nif (action === 'create') {\n  var name = body.name, tmpl = body.template;\n  if (!name || !tmpl) throw new Error('name and template required');\n  await post('/registered-models/create', {name: name});\n  await post('/registered-models/set-tag', {name: name, key: 'mlflow.prompt.is_prompt', value: 'true'});\n  var tags = body.tags || {};\n  for (var k of Object.keys(tags)) await post('/registered-models/set-tag', {name: name, key: k, value: String(tags[k])});\n  var mv = await post('/model-versions/create', {name: name, source: 'prompts:/' + name + '/1'});\n  var ver = mv.model_version.version;\n  await post('/model-versions/set-tag', {name: name, version: ver, key: 'mlflow.prompt.text', value: tmpl});\n  if (body.commit_message) await post('/model-versions/set-tag', {name: name, version: ver, key: 'mlflow.prompt.commit_message', value: body.commit_message});\n  await post('/registered-models/alias', {name: name, alias: 'production', version: ver});\n  return {action: 'create', name: name, version: ver, status: 'created'};\n}\n\nif (action === 'get_or_create') {\n  var name = body.name, tmpl = body.template;\n  if (!name) throw new Error('name required');\n  // Try to get existing\n  try {\n    var rm = await apiGet('/registered-models/get?name=' + encodeURIComponent(name));\n    var modelObj = rm.registered_model;\n    var alias = body.alias || 'production';\n    var ae = (modelObj.aliases || []).find(function(a) { return a.alias === alias; });\n    if (ae) {\n      var mvResp = await apiGet('/model-versions/get?name=' + encodeURIComponent(name) + '&version=' + ae.version);\n      var mv = mvResp.model_version;\n      var vTags = mv.tags || [];\n      var pt = vTags.find(function(t) { return t.key === 'mlflow.prompt.text'; });\n      var existTmpl = pt ? pt.value : '';\n      var vars = [];\n      var matches = existTmpl.match(/\\{\\{\\s*\\w+\\s*\\}\\}/g);\n      if (matches) vars = matches.map(function(x) { return x.replace(/[{}\\s]/g, ''); });\n      var ct = {};\n      vTags.filter(function(t) { return t.key.indexOf('mlflow.') !== 0 && t.key.indexOf('_mlflow') !== 0; }).forEach(function(t) { ct[t.key] = t.value; });\n      return {action: 'get_or_create', name: modelObj.name, version: mv.version, alias: alias, template: existTmpl, variables: vars, tags: ct, status: 'existing'};\n    }\n  } catch(ex) {\n    // Not found \u2014 fall through to create\n  }\n  // Create new\n  if (!tmpl) throw new Error('template required when creating new prompt');\n  await post('/registered-models/create', {name: name});\n  await post('/registered-models/set-tag', {name: name, key: 'mlflow.prompt.is_prompt', value: 'true'});\n  var tags = body.tags || {};\n  for (var k of Object.keys(tags)) await post('/registered-models/set-tag', {name: name, key: k, value: String(tags[k])});\n  var mv = await post('/model-versions/create', {name: name, source: 'prompts:/' + name + '/1'});\n  var ver = mv.model_version.version;\n  await post('/model-versions/set-tag', {name: name, version: ver, key: 'mlflow.prompt.text', value: tmpl});\n  if (body.commit_message) await post('/model-versions/set-tag', {name: name, version: ver, key: 'mlflow.prompt.commit_message', value: body.commit_message});\n  await post('/registered-models/alias', {name: name, alias: 'production', version: ver});\n  return {action: 'get_or_create', name: name, version: ver, status: 'created'};\n}\n\nif (action === 'get') {\n  var name = body.name;\n  if (!name) throw new Error('name required');\n  var alias = body.alias || 'production';\n  var rm = await apiGet('/registered-models/get?name=' + encodeURIComponent(name));\n  var modelObj = rm.registered_model;\n  var ae = (modelObj.aliases || []).find(function(a) { return a.alias === alias; });\n  if (!ae) throw new Error('Alias ' + alias + ' not found on ' + name);\n  // Fix: fetch version directly via model-versions/get\n  var mvResp = await apiGet('/model-versions/get?name=' + encodeURIComponent(name) + '&version=' + ae.version);\n  var mv = mvResp.model_version;\n  var vTags = mv.tags || [];\n  var pt = vTags.find(function(t) { return t.key === 'mlflow.prompt.text'; });\n  var tmpl = pt ? pt.value : '';\n  var vars = [];\n  var matches = tmpl.match(/\\{\\{\\s*\\w+\\s*\\}\\}/g);\n  if (matches) vars = matches.map(function(x) { return x.replace(/[{}\\s]/g, ''); });\n  var ct = {};\n  vTags.filter(function(t) { return t.key.indexOf('mlflow.') !== 0 && t.key.indexOf('_mlflow') !== 0; }).forEach(function(t) { ct[t.key] = t.value; });\n  return {action: 'get', name: modelObj.name, version: mv.version, alias: alias, template: tmpl, variables: vars, tags: ct};\n}\n\nif (action === 'list') {\n  var f = \"tags.`mlflow.prompt.is_prompt`='true'\";\n  var result = await apiGet('/registered-models/search?filter=' + encodeURIComponent(f));\n  var prompts = (result.registered_models || []).map(function(rm) {\n    var aliases = {};\n    (rm.aliases || []).forEach(function(a) { aliases[a.alias] = a.version; });\n    var ct = {};\n    (rm.tags || []).filter(function(t) { return t.key.indexOf('mlflow.') !== 0 && t.key.indexOf('_mlflow') !== 0; }).forEach(function(t) { ct[t.key] = t.value; });\n    return {name: rm.name, aliases: aliases, tags: ct};\n  });\n  return {action: 'list', count: prompts.length, prompts: prompts};\n}\n\nif (action === 'update') {\n  var name = body.name, tmpl = body.template;\n  if (!name || !tmpl) throw new Error('name and template required');\n  var mv = await post('/model-versions/create', {name: name, source: 'prompts:/' + name});\n  var ver = mv.model_version.version;\n  await post('/model-versions/set-tag', {name: name, version: ver, key: 'mlflow.prompt.text', value: tmpl});\n  if (body.commit_message) await post('/model-versions/set-tag', {name: name, version: ver, key: 'mlflow.prompt.commit_message', value: body.commit_message});\n  var tags = body.tags || {};\n  for (var k of Object.keys(tags)) await post('/model-versions/set-tag', {name: name, version: ver, key: k, value: String(tags[k])});\n  var alias = body.alias || 'production';\n  await post('/registered-models/alias', {name: name, alias: alias, version: ver});\n  return {action: 'update', name: name, version: ver, alias: alias, status: 'updated'};\n}\n\nif (action === 'promote') {\n  var name = body.name, ver = body.version;\n  if (!name || !ver) throw new Error('name and version required');\n  var alias = body.alias || 'production';\n  // Verify version exists\n  await apiGet('/model-versions/get?name=' + encodeURIComponent(name) + '&version=' + ver);\n  await post('/registered-models/alias', {name: name, alias: alias, version: String(ver)});\n  return {action: 'promote', name: name, version: ver, alias: alias, status: 'promoted'};\n}\n\nif (action === 'delete') {\n  var name = body.name;\n  if (!name) throw new Error('name required');\n  if (body.version) {\n    // Guard: don't delete the version currently aliased as production\n    var rm = await apiGet('/registered-models/get?name=' + encodeURIComponent(name));\n    var prodAlias = (rm.registered_model.aliases || []).find(function(a) { return a.alias === 'production'; });\n    if (prodAlias && prodAlias.version === String(body.version)) {\n      throw new Error('Cannot delete version ' + body.version + ' \u2014 it is the current production alias. Re-alias first.');\n    }\n    await apiDel('/model-versions/delete', {name: name, version: String(body.version)});\n    return {action: 'delete', name: name, version: body.version, status: 'version_deleted'};\n  }\n  await apiDel('/registered-models/delete', {name: name});\n  return {action: 'delete', name: name, status: 'deleted'};\n}\n\nif (action === 'seed') {\n  var prompts = body.prompts;\n  if (!prompts || !Array.isArray(prompts)) throw new Error('prompts array required');\n  var created = [], skipped = [];\n  for (var i = 0; i < prompts.length; i++) {\n    var p = prompts[i];\n    if (!p.name || !p.template) throw new Error('Each prompt needs name and template');\n    try {\n      await apiGet('/registered-models/get?name=' + encodeURIComponent(p.name));\n      skipped.push(p.name);\n    } catch(ex) {\n      await post('/registered-models/create', {name: p.name});\n      await post('/registered-models/set-tag', {name: p.name, key: 'mlflow.prompt.is_prompt', value: 'true'});\n      var seedTags = p.tags || {};\n      for (var sk of Object.keys(seedTags)) await post('/registered-models/set-tag', {name: p.name, key: sk, value: String(seedTags[sk])});\n      var seedMv = await post('/model-versions/create', {name: p.name, source: 'prompts:/' + p.name + '/1'});\n      var seedVer = seedMv.model_version.version;\n      await post('/model-versions/set-tag', {name: p.name, version: seedVer, key: 'mlflow.prompt.text', value: p.template});\n      if (p.commit_message) await post('/model-versions/set-tag', {name: p.name, version: seedVer, key: 'mlflow.prompt.commit_message', value: p.commit_message});\n      await post('/registered-models/alias', {name: p.name, alias: 'production', version: seedVer});\n      created.push(p.name);\n    }\n  }\n  return {action: 'seed', created: created, skipped: skipped, count: prompts.length};\n}\n\nif (action === 'versions') {\n  var name = body.name;\n  if (!name) throw new Error('name required');\n  var rm = await apiGet('/registered-models/get?name=' + encodeURIComponent(name));\n  var modelObj = rm.registered_model;\n  var aliasMap = {};\n  (modelObj.aliases || []).forEach(function(a) { aliasMap[a.version] = aliasMap[a.version] || []; aliasMap[a.version].push(a.alias); });\n  // Find max version from latest_versions\n  var maxVer = 0;\n  (modelObj.latest_versions || []).forEach(function(lv) { var v = Number(lv.version); if (v > maxVer) maxVer = v; });\n  // Also check aliases for higher versions\n  (modelObj.aliases || []).forEach(function(a) { var v = Number(a.version); if (v > maxVer) maxVer = v; });\n  if (maxVer === 0) maxVer = 1;\n  // Fetch each version individually\n  var versions = [];\n  for (var vi = maxVer; vi >= 1; vi--) {\n    try {\n      var mvResp = await apiGet('/model-versions/get?name=' + encodeURIComponent(name) + '&version=' + vi);\n      var mv = mvResp.model_version;\n      var vTags = mv.tags || [];\n      var pt = vTags.find(function(t) { return t.key === 'mlflow.prompt.text'; });\n      var cm = vTags.find(function(t) { return t.key === 'mlflow.prompt.commit_message'; });\n      versions.push({\n        version: mv.version,\n        template: pt ? pt.value : '',\n        commit_message: cm ? cm.value : '',\n        aliases: aliasMap[mv.version] || [],\n        created_at: Number(mv.creation_timestamp)\n      });\n    } catch(verErr) { /* version may have been deleted */ }\n  }\n  return {action: 'versions', name: name, versions: versions, count: versions.length};\n}\n\nif (action === 'diff') {\n  var name = body.name;\n  if (!name || !body.v1 || !body.v2) throw new Error('name, v1, and v2 required');\n  var mv1 = await apiGet('/model-versions/get?name=' + encodeURIComponent(name) + '&version=' + body.v1);\n  var mv2 = await apiGet('/model-versions/get?name=' + encodeURIComponent(name) + '&version=' + body.v2);\n  var t1 = (mv1.model_version.tags || []).find(function(t) { return t.key === 'mlflow.prompt.text'; });\n  var t2 = (mv2.model_version.tags || []).find(function(t) { return t.key === 'mlflow.prompt.text'; });\n  var tmpl1 = t1 ? t1.value : '';\n  var tmpl2 = t2 ? t2.value : '';\n  return {action: 'diff', name: name, v1: {version: String(body.v1), template: tmpl1}, v2: {version: String(body.v2), template: tmpl2}, changed: tmpl1 !== tmpl2};\n}\n\nif (action === 'set_canary') {\n  var name = body.name;\n  var stagingVer = body.staging_version;\n  var trafficPct = body.traffic_pct;\n  if (!name) throw new Error('name required');\n  if (!stagingVer) throw new Error('staging_version required');\n  if (trafficPct == null || trafficPct < 0 || trafficPct > 100) throw new Error('traffic_pct required (0-100)');\n  // Verify staging version exists\n  await apiGet('/model-versions/get?name=' + encodeURIComponent(name) + '&version=' + stagingVer);\n  // Set staging alias\n  await post('/registered-models/alias', {name: name, alias: 'staging', version: String(stagingVer)});\n  // Store canary config as tags on registered model\n  await post('/registered-models/set-tag', {name: name, key: 'canary.enabled', value: 'true'});\n  await post('/registered-models/set-tag', {name: name, key: 'canary.staging_version', value: String(stagingVer)});\n  await post('/registered-models/set-tag', {name: name, key: 'canary.traffic_pct', value: String(trafficPct)});\n  return {action: 'set_canary', name: name, staging_version: stagingVer, traffic_pct: trafficPct, status: 'canary_set'};\n}\n\nif (action === 'get_canary') {\n  var name = body.name;\n  if (!name) throw new Error('name required');\n  var rm = await apiGet('/registered-models/get?name=' + encodeURIComponent(name));\n  var modelTags = {};\n  (rm.registered_model.tags || []).forEach(function(t) { modelTags[t.key] = t.value; });\n  var enabled = modelTags['canary.enabled'] === 'true';\n  var aliases = {};\n  (rm.registered_model.aliases || []).forEach(function(a) { aliases[a.alias] = a.version; });\n  return {\n    action: 'get_canary',\n    name: name,\n    canary_enabled: enabled,\n    production_version: aliases['production'] || null,\n    staging_version: enabled ? (modelTags['canary.staging_version'] || null) : null,\n    traffic_pct: enabled ? Number(modelTags['canary.traffic_pct'] || 0) : 0\n  };\n}\n\nif (action === 'clear_canary') {\n  var name = body.name;\n  if (!name) throw new Error('name required');\n  await post('/registered-models/set-tag', {name: name, key: 'canary.enabled', value: 'false'});\n  await post('/registered-models/set-tag', {name: name, key: 'canary.staging_version', value: ''});\n  await post('/registered-models/set-tag', {name: name, key: 'canary.traffic_pct', value: '0'});\n  // Remove staging alias\n  try { await apiDel('/registered-models/alias', {name: name, alias: 'staging'}); } catch(e) {}\n  return {action: 'clear_canary', name: name, status: 'canary_cleared'};\n}\n\n\nif (action === 'pipeline') {\n  var name = body.name;\n  var stagingVer = body.staging_version;\n  var threshold = body.threshold || 0.8;\n  var canaryPct = body.canary_pct || 20;\n  var autoPromote = body.auto_promote !== false;\n  var maxCases = body.limit || 10;\n\n  if (!name) throw new Error('name required (e.g. coder.SYSTEM)');\n  if (!stagingVer) throw new Error('staging_version required');\n\n  // Verify staging version exists and get its template\n  var stagMvResp = await apiGet('/model-versions/get?name=' + encodeURIComponent(name) + '&version=' + stagingVer);\n  var stagTags = stagMvResp.model_version.tags || [];\n  var stagTmplTag = stagTags.find(function(t) { return t.key === 'mlflow.prompt.text'; });\n  var stagTemplate = stagTmplTag ? stagTmplTag.value : '';\n\n  // Get production template\n  var rm = await apiGet('/registered-models/get?name=' + encodeURIComponent(name));\n  var prodAlias = (rm.registered_model.aliases || []).find(function(a) { return a.alias === 'production'; });\n  if (!prodAlias) throw new Error('No production alias on ' + name);\n  var prodMvResp = await apiGet('/model-versions/get?name=' + encodeURIComponent(name) + '&version=' + prodAlias.version);\n  var prodTags = prodMvResp.model_version.tags || [];\n  var prodTmplTag = prodTags.find(function(t) { return t.key === 'mlflow.prompt.text'; });\n  var prodTemplate = prodTmplTag ? prodTmplTag.value : '';\n\n  // Set staging alias\n  await post('/registered-models/alias', {name: name, alias: 'staging', version: String(stagingVer)});\n\n  // Determine agent domain for dataset lookup\n  var agentDomain = name.replace('.SYSTEM', '');\n\n  // Search for benchmark datasets\n  var N8N_SELF = $env.N8N_INTERNAL_URL || 'http://n8n:5678/webhook';\n  var selfHeaders = {'Content-Type': 'application/json'};\n  if ($env.WEBHOOK_API_KEY) selfHeaders['X-API-Key'] = $env.WEBHOOK_API_KEY;\n\n  var dsResp = await _post(N8N_SELF + '/datasets', {action: 'list'}, {timeout: 15000, headers: selfHeaders});\n  var allDatasets = dsResp.data.datasets || [];\n  var agentDatasets = allDatasets.filter(function(ds) {\n    return ds.name && ds.name.indexOf(agentDomain + '.') === 0;\n  });\n\n  if (agentDatasets.length === 0) {\n    throw new Error('No benchmark datasets for ' + agentDomain + '. Run: uv run scripts/agent-benchmark.py --seed-datasets');\n  }\n\n  // Collect test rows from datasets\n  var testRows = [];\n  for (var di = 0; di < agentDatasets.length && testRows.length < maxCases; di++) {\n    var ds = agentDatasets[di];\n    try {\n      var rowsResp = await _post(N8N_SELF + '/datasets', {\n        action: 'get', run_id: ds.run_id, include_rows: true\n      }, {timeout: 30000, headers: selfHeaders});\n      var rows = rowsResp.data.rows || [];\n      for (var ri = 0; ri < rows.length && testRows.length < maxCases; ri++) {\n        testRows.push(rows[ri]);\n      }\n    } catch(rowErr) { /* skip */ }\n  }\n\n  if (testRows.length === 0) {\n    throw new Error('No test rows found in datasets for ' + agentDomain);\n  }\n\n  // Run each test case against both production and staging templates\n  var INFERENCE_BASE = $env.INFERENCE_BASE_URL || 'http://litellm:4000/v1';\n  var INFERENCE_KEY = $env.LITELLM_API_KEY || '';\n  var llmModel = body.model || $env.INFERENCE_DEFAULT_MODEL || 'qwen2.5:14b';\n  var llmHeaders = INFERENCE_KEY ? {Authorization: 'Bearer ' + INFERENCE_KEY} : {};\n  var judges = body.judges || ['relevance'];\n\n  var prodScores = [], stagScores = [], failures = [];\n  for (var ti = 0; ti < testRows.length; ti++) {\n    var row = testRows[ti];\n    var userMsg = row.input || '';\n    var criteria = row.criteria || 'Response should be relevant and accurate.';\n\n    // Production response\n    var prodResp, stagResp;\n    try {\n      var pr = await _post(INFERENCE_BASE + '/chat/completions', {\n        model: llmModel,\n        messages: [{role: 'system', content: prodTemplate}, {role: 'user', content: userMsg}],\n        temperature: 0\n      }, {timeout: 120000, headers: llmHeaders});\n      prodResp = pr.data.choices[0].message.content;\n    } catch(e) { prodResp = ''; }\n\n    // Staging response\n    try {\n      var sr = await _post(INFERENCE_BASE + '/chat/completions', {\n        model: llmModel,\n        messages: [{role: 'system', content: stagTemplate}, {role: 'user', content: userMsg}],\n        temperature: 0\n      }, {timeout: 120000, headers: llmHeaders});\n      stagResp = sr.data.choices[0].message.content;\n    } catch(e) { stagResp = ''; }\n\n    // Judge both via eval endpoint\n    var prodJudgeScore = 0, stagJudgeScore = 0;\n    for (var ji = 0; ji < judges.length; ji++) {\n      var judgeName = typeof judges[ji] === 'string' ? judges[ji] : judges[ji].metric;\n      // Use inline judging (simple prompt)\n      var judgePrompt = 'Score from 0.0 to 1.0. Criteria: ' + criteria + '\\n\\nInput: ' + userMsg.substring(0, 500) + '\\n\\nResponse: ';\n      try {\n        var pjr = await _post(INFERENCE_BASE + '/chat/completions', {\n          model: llmModel,\n          messages: [{role: 'system', content: 'You are a strict evaluator. Score the response 0.0 to 1.0 based on the criteria. Respond with ONLY JSON: {\"score\": 0.00, \"reason\": \"brief\"}'}, {role: 'user', content: judgePrompt + prodResp.substring(0, 1000)}],\n          temperature: 0\n        }, {timeout: 60000, headers: llmHeaders});\n        var pjText = pjr.data.choices[0].message.content;\n        var pjMatch = pjText.match(/\\{[^}]*\"score\"[^}]*\\}/);\n        if (pjMatch) prodJudgeScore += Math.max(0, Math.min(1, JSON.parse(pjMatch[0]).score || 0));\n      } catch(e) {}\n      try {\n        var sjr = await _post(INFERENCE_BASE + '/chat/completions', {\n          model: llmModel,\n          messages: [{role: 'system', content: 'You are a strict evaluator. Score the response 0.0 to 1.0 based on the criteria. Respond with ONLY JSON: {\"score\": 0.00, \"reason\": \"brief\"}'}, {role: 'user', content: judgePrompt + stagResp.substring(0, 1000)}],\n          temperature: 0\n        }, {timeout: 60000, headers: llmHeaders});\n        var sjText = sjr.data.choices[0].message.content;\n        var sjMatch = sjText.match(/\\{[^}]*\"score\"[^}]*\\}/);\n        if (sjMatch) stagJudgeScore += Math.max(0, Math.min(1, JSON.parse(sjMatch[0]).score || 0));\n      } catch(e) {}\n    }\n\n    var prodAvg = judges.length > 0 ? prodJudgeScore / judges.length : 0;\n    var stagAvg = judges.length > 0 ? stagJudgeScore / judges.length : 0;\n    prodScores.push(prodAvg);\n    stagScores.push(stagAvg);\n    if (stagAvg < threshold) {\n      failures.push({label: (row.domain || '') + '.' + (row.task || '') + '.' + ti, staging_score: stagAvg});\n    }\n  }\n\n  // Aggregate\n  var scoreCount = prodScores.length;\n  var prodScore = scoreCount > 0 ? Math.round((prodScores.reduce(function(a,b){return a+b;},0) / scoreCount) * 1000) / 1000 : 0;\n  var stagScore = scoreCount > 0 ? Math.round((stagScores.reduce(function(a,b){return a+b;},0) / scoreCount) * 1000) / 1000 : 0;\n  var delta = Math.round((stagScore - prodScore) * 1000) / 1000;\n  var passRate = scoreCount > 0 ? Math.round(((scoreCount - failures.length) / scoreCount) * 100) / 100 : 0;\n\n  // Gate\n  var gatePass = stagScore >= threshold && stagScore >= prodScore;\n  var decision;\n\n  if (gatePass && autoPromote) {\n    await post('/registered-models/alias', {name: name, alias: 'production', version: String(stagingVer)});\n    await post('/registered-models/set-tag', {name: name, key: 'canary.enabled', value: 'false'});\n    await post('/registered-models/set-tag', {name: name, key: 'canary.staging_version', value: ''});\n    try { await _del(M + '/registered-models/alias', {data: {name: name, alias: 'staging'}}); } catch(e) {}\n    try {\n      await _post(N8N_SELF + '/traces', {\n        action: 'baseline_set_benchmark', prompt_name: name, version: String(stagingVer),\n        scores: {overall: stagScore}, pass_rate: passRate, cases_evaluated: scoreCount\n      }, {timeout: 15000, headers: selfHeaders});\n    } catch(e) {}\n    decision = 'promoted';\n  } else if (gatePass && !autoPromote) {\n    await post('/registered-models/set-tag', {name: name, key: 'canary.enabled', value: 'true'});\n    await post('/registered-models/set-tag', {name: name, key: 'canary.staging_version', value: String(stagingVer)});\n    await post('/registered-models/set-tag', {name: name, key: 'canary.traffic_pct', value: String(canaryPct)});\n    decision = 'canary';\n  } else {\n    await post('/registered-models/set-tag', {name: name, key: 'canary.enabled', value: 'false'});\n    await post('/registered-models/set-tag', {name: name, key: 'canary.staging_version', value: ''});\n    decision = 'rejected';\n  }\n\n  // Log to promotions experiment\n  var promExpName = agentDomain + '-promotions';\n  var promExpId;\n  try {\n    var eres = await apiGet('/experiments/get-by-name?experiment_name=' + encodeURIComponent(promExpName));\n    promExpId = eres.experiment.experiment_id;\n  } catch(e) {\n    var cr = await post('/experiments/create', {name: promExpName});\n    promExpId = cr.experiment_id;\n  }\n  var promTs = Date.now();\n  var promRun = await post('/runs/create', {experiment_id: promExpId, start_time: promTs, run_name: 'pipeline-v' + stagingVer + '-' + decision});\n  var promRunId = promRun.run.info.run_id;\n  await post('/runs/log-batch', {\n    run_id: promRunId,\n    params: [\n      {key: 'agent', value: agentDomain}, {key: 'prompt_name', value: name},\n      {key: 'staging_version', value: String(stagingVer)}, {key: 'decision', value: decision},\n      {key: 'threshold', value: String(threshold)}\n    ],\n    metrics: [\n      {key: 'production_score', value: prodScore, timestamp: promTs, step: 0},\n      {key: 'staging_score', value: stagScore, timestamp: promTs, step: 0},\n      {key: 'delta', value: delta, timestamp: promTs, step: 0},\n      {key: 'pass_rate', value: passRate, timestamp: promTs, step: 0},\n      {key: 'cases_evaluated', value: scoreCount, timestamp: promTs, step: 0}\n    ],\n    tags: [{key: 'agent', value: agentDomain}, {key: 'decision', value: decision}]\n  });\n  await post('/runs/update', {run_id: promRunId, status: 'FINISHED', end_time: Date.now()});\n\n  return {\n    pipeline: 'promote', name: name, staging_version: Number(stagingVer),\n    decision: decision, production_score: prodScore, staging_score: stagScore,\n    delta: delta, threshold: threshold, pass_rate: passRate,\n    cases_evaluated: scoreCount, experiment_run_id: promRunId,\n    evidence: {failures: failures.slice(0, 5)}\n  };\n}\n\nthrow new Error('Unknown action: ' + action);\n\n} catch(e) {\n  var msg = e.message || String(e);\n  if (e.response && e.response.data) msg += ' | ' + JSON.stringify(e.response.data);\n  var status = 400;\n  if (e.response && e.response.status === 404) status = 404;\n  if (msg.indexOf('RESOURCE_DOES_NOT_EXIST') !== -1) status = 404;\n  return {error: true, message: msg, action: action || 'unknown', _status: status};\n}"
      },
      "typeVersion": 2
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        720,
        340
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ Object.fromEntries(Object.entries($json).filter(([k]) => k !== '_status')) }}",
        "options": {
          "responseCode": "={{ $json._status || 200 }}"
        }
      },
      "typeVersion": 1.2
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "CRUD Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRUD Handler": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
