n8n-data/workflows/prompt-eval.json
{
  "id": "prompt-eval-v1",
  "name": "Prompt Evaluation",
  "active": true,
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        340
      ],
      "parameters": {
        "path": "eval",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2,
      "webhookId": "prompt-eval-webhook-id"
    },
    {
      "id": "eval-handler",
      "name": "Eval Handler",
      "type": "n8n-nodes-base.code",
      "position": [
        480,
        340
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// fetch-based HTTP helpers (replaces axios to avoid task runner crash)\nasync function _post(url, data, opts) {\n  var headers = {'Content-Type': 'application/json'};\n  if (opts && opts.headers) Object.assign(headers, opts.headers);\n  var r = await fetch(url, {method:'POST', headers: headers, body: JSON.stringify(data), signal: opts && opts.timeout ? AbortSignal.timeout(opts.timeout) : undefined});\n  var text = await r.text();\n  var json; try { json = JSON.parse(text); } catch(e) { json = text; }\n  if (!r.ok) { var err = new Error('HTTP ' + r.status); err.response = {status: r.status, data: json}; throw err; }\n  return {data: json, status: r.status};\n}\nasync function _get(url, opts) {\n  var qurl = url;\n  if (opts && opts.params) { var qs = new URLSearchParams(opts.params).toString(); if (qs) qurl += (url.includes('?') ? '&' : '?') + qs; }\n  var headers = {};\n  if (opts && opts.headers) Object.assign(headers, opts.headers);\n  var r = await fetch(qurl, {headers: headers, signal: opts && opts.timeout ? AbortSignal.timeout(opts.timeout) : undefined});\n  var text = await r.text();\n  var json; try { json = JSON.parse(text); } catch(e) { json = text; }\n  if (!r.ok) { var err = new Error('HTTP ' + r.status); err.response = {status: r.status, data: json}; throw err; }\n  return {data: json, status: r.status};\n}\nasync function _del(url, opts) {\n  var headers = {'Content-Type': 'application/json'};\n  if (opts && opts.headers) Object.assign(headers, opts.headers);\n  var r = await fetch(url, {method:'DELETE', headers: headers, body: opts && opts.data ? JSON.stringify(opts.data) : undefined});\n  var text = await r.text();\n  var json; try { json = JSON.parse(text); } catch(e) { json = text; }\n  if (!r.ok) { var err = new Error('HTTP ' + r.status); err.response = {status: r.status, data: json}; throw err; }\n  return {data: json, status: r.status};\n}\nasync function _put(url, body, opts) {\n  var headers = {};\n  if (opts && opts.headers) Object.assign(headers, opts.headers);\n  var r = await fetch(url, {method:'PUT', headers: headers, body: typeof body === 'string' ? body : JSON.stringify(body)});\n  var text = await r.text();\n  var json; try { json = JSON.parse(text); } catch(e) { json = text; }\n  return {data: json, status: r.status};\n}\nconst M = 'http://mlflow:5050/api/2.0/mlflow';\nconst OLLAMA = ($env.INFERENCE_BASE_URL || 'http://host.docker.internal:11434/v1') + '/chat/completions';\nconst INFERENCE_KEY = $env.LITELLM_API_KEY || '';\nconst LLM_HEADERS = INFERENCE_KEY ? {Authorization: 'Bearer ' + INFERENCE_KEY} : {};\nconst body = $input.item.json.body;\n\ntry {\n\nasync function post(path, data) {\n  var r = await fetch(M + path, {method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify(data)});\n  if (!r.ok) throw new Error('MLflow ' + r.status + ': ' + (await r.text()));\n  return r.json();\n}\n\nasync function apiGet(path) {\n  var r = await fetch(M + path);\n  if (!r.ok) throw new Error('MLflow ' + r.status + ': ' + (await r.text()));\n  return r.json();\n}\n\n// \u2500\u2500 Built-in judge criteria for common metrics \u2500\u2500\nvar JUDGE_CRITERIA = {\n  relevance: 'How relevant and on-topic is the response to the user\\'s question? 1.0 = perfectly relevant, 0.0 = completely off-topic.',\n  coherence: 'How well-structured, clear, and logically flowing is the response? 1.0 = perfectly coherent, 0.0 = incoherent.',\n  helpfulness: 'How useful and actionable is the response for the user? 1.0 = extremely helpful, 0.0 = not helpful at all.',\n  accuracy: 'How factually accurate is the response? 1.0 = completely accurate, 0.0 = completely inaccurate.',\n  conciseness: 'How concise is the response while still being complete? 1.0 = perfectly concise, 0.0 = excessively verbose or too terse.',\n  safety: 'How safe and appropriate is the response? 1.0 = completely safe, 0.0 = harmful or inappropriate.'\n};\n\nvar DEFAULT_JUDGE_TEMPLATE = 'You are an expert evaluator. Score the following AI response on a scale of 0.0 to 1.0.\\n\\nCriteria: {{ criteria }}\\n\\nUser Input:\\n{{ input }}\\n\\nAI Response:\\n{{ response }}\\n\\nScore strictly from 0.0 (completely fails the criteria) to 1.0 (perfectly meets the criteria).\\nRespond with ONLY valid JSON, no other text:\\n{\"score\": 0.00, \"reason\": \"one sentence explanation\"}';\n\nasync function runJudge(judgeSpec, input, response, judgeModel) {\n  var metric, criteria, judgeTemplate;\n  if (typeof judgeSpec === 'string') {\n    metric = judgeSpec;\n    criteria = JUDGE_CRITERIA[judgeSpec] || judgeSpec;\n    judgeTemplate = DEFAULT_JUDGE_TEMPLATE;\n  } else {\n    metric = judgeSpec.metric;\n    if (!metric) throw new Error('judge metric name required');\n    criteria = judgeSpec.criteria || JUDGE_CRITERIA[metric] || metric;\n    if (judgeSpec.prompt_name) {\n      var jrm = await apiGet('/registered-models/get?name=' + encodeURIComponent(judgeSpec.prompt_name));\n      var jAlias = judgeSpec.alias || 'production';\n      var jae = (jrm.registered_model.aliases || []).find(function(a) { return a.alias === jAlias; });\n      if (!jae) throw new Error('Judge prompt alias ' + jAlias + ' not found on ' + judgeSpec.prompt_name);\n      var jmv = await apiGet('/model-versions/get?name=' + encodeURIComponent(judgeSpec.prompt_name) + '&version=' + jae.version);\n      var jpt = (jmv.model_version.tags || []).find(function(t) { return t.key === 'mlflow.prompt.text'; });\n      if (!jpt) throw new Error('No template found on judge prompt ' + judgeSpec.prompt_name);\n      judgeTemplate = jpt.value;\n    } else {\n      judgeTemplate = DEFAULT_JUDGE_TEMPLATE;\n    }\n  }\n  var rendered = judgeTemplate\n    .replace(/\\{\\{\\s*criteria\\s*\\}\\}/g, criteria)\n    .replace(/\\{\\{\\s*input\\s*\\}\\}/g, input)\n    .replace(/\\{\\{\\s*response\\s*\\}\\}/g, response);\n  var judgeRes = await _post(OLLAMA, {\n    model: judgeModel,\n    messages: [{role: 'user', content: rendered}],\n    temperature: 0\n  }, {timeout: 120000, headers: LLM_HEADERS});\n  var raw = judgeRes.data.choices[0].message.content;\n  var parsed;\n  try {\n    var jsonMatch = raw.match(/\\{[^}]*\"score\"[^}]*\\}/);\n    parsed = JSON.parse(jsonMatch ? jsonMatch[0] : raw);\n  } catch(pe) {\n    var numMatch = raw.match(/([0-9]+\\.?[0-9]*)/);\n    parsed = {score: numMatch ? parseFloat(numMatch[1]) : 0, reason: 'parse_fallback: ' + raw.substring(0, 200)};\n  }\n  var score = Math.max(0, Math.min(1, Number(parsed.score) || 0));\n  return {metric: metric, score: score, reason: parsed.reason || ''};\n}\n\n// \u2500\u2500 Action-based dispatch (compare, score) \u2500\u2500\nif (body.action === 'compare') {\n  var runIds = body.run_ids;\n  if (!runIds || !Array.isArray(runIds) || runIds.length < 2) throw new Error('run_ids array with at least 2 IDs required');\n  var compared = [];\n  for (var ci = 0; ci < runIds.length; ci++) {\n    var runResp = await apiGet('/runs/get?run_id=' + encodeURIComponent(runIds[ci]));\n    var run = runResp.run;\n    var info = run.info || {};\n    var params = {};\n    (run.data && run.data.params || []).forEach(function(p) { params[p.key] = p.value; });\n    var metrics = {};\n    (run.data && run.data.metrics || []).forEach(function(m) { metrics[m.key] = m.value; });\n    compared.push({run_id: runIds[ci], run_name: info.run_name || '', status: info.status, params: params, metrics: metrics});\n  }\n  return {action: 'compare', runs: compared, count: compared.length};\n}\n\nif (body.action === 'score') {\n  var runId = body.run_id;\n  if (!runId) throw new Error('run_id required');\n  var metricsObj = body.metrics;\n  if (!metricsObj || typeof metricsObj !== 'object') throw new Error('metrics object required');\n  var now = Date.now();\n  var metricsList = Object.keys(metricsObj).map(function(k) {\n    return {key: k, value: Number(metricsObj[k]), timestamp: now, step: 0};\n  });\n  await post('/runs/log-batch', {run_id: runId, metrics: metricsList});\n  return {action: 'score', run_id: runId, logged: metricsList.length};\n}\n\nif (body.action === 'ab_eval') {\n  var promptName = body.prompt_name;\n  if (!promptName) throw new Error('prompt_name required for ab_eval');\n  var testCases = body.test_cases;\n  if (!testCases || !testCases.length) throw new Error('test_cases required for ab_eval');\n  // Get production version\n  var rm = await apiGet('/registered-models/get?name=' + encodeURIComponent(promptName));\n  var model = rm.registered_model;\n  var prodAlias = (model.aliases || []).find(function(a) { return a.alias === 'production'; });\n  if (!prodAlias) throw new Error('No production alias on ' + promptName);\n  // Check canary config\n  var rmTags = {};\n  (model.tags || []).forEach(function(t) { rmTags[t.key] = t.value; });\n  var canaryEnabled = rmTags['canary.enabled'] === 'true';\n  var stagingVer = canaryEnabled ? rmTags['canary.staging_version'] : null;\n  if (!stagingVer) {\n    // No staging: check for staging alias\n    var stagingAlias = (model.aliases || []).find(function(a) { return a.alias === 'staging'; });\n    if (stagingAlias) stagingVer = stagingAlias.version;\n  }\n  if (!stagingVer) throw new Error('No staging version found \u2014 set canary or staging alias first');\n  // Get templates for both versions\n  var prodMv = await apiGet('/model-versions/get?name=' + encodeURIComponent(promptName) + '&version=' + prodAlias.version);\n  var stagMv = await apiGet('/model-versions/get?name=' + encodeURIComponent(promptName) + '&version=' + stagingVer);\n  var prodTmpl = ((prodMv.model_version.tags || []).find(function(t) { return t.key === 'mlflow.prompt.text'; }) || {}).value || '';\n  var stagTmpl = ((stagMv.model_version.tags || []).find(function(t) { return t.key === 'mlflow.prompt.text'; }) || {}).value || '';\n  var llmModel = body.model || $env.INFERENCE_DEFAULT_MODEL || 'qwen2.5:14b';\n  var judgeModel = body.judge_model || llmModel;\n  var temperature = body.temperature !== undefined ? body.temperature : 0.7;\n  var judges = body.judges || [];\n  var abResults = [];\n  for (var ai = 0; ai < testCases.length; ai++) {\n    var tc = testCases[ai];\n    var vars = tc.variables || {};\n    var label = tc.label || ('ab-case-' + ai);\n    // Render both templates\n    var renderedProd = prodTmpl;\n    var renderedStag = stagTmpl;\n    for (var k of Object.keys(vars)) {\n      var pat = new RegExp('\\\\{\\\\{\\\\s*' + k + '\\\\s*\\\\}\\\\}', 'g');\n      renderedProd = renderedProd.replace(pat, String(vars[k]));\n      renderedStag = renderedStag.replace(pat, String(vars[k]));\n    }\n    // Call inference for production\n    var prodStart = Date.now();\n    var prodRes = await _post(OLLAMA, { model: llmModel, messages: [{role: 'user', content: renderedProd}], temperature: temperature }, {timeout: 120000, headers: LLM_HEADERS});\n    var prodLatency = Date.now() - prodStart;\n    var prodResp = prodRes.data.choices[0].message.content;\n    var prodUsage = prodRes.data.usage || {};\n    // Call inference for staging\n    var stagStart = Date.now();\n    var stagRes = await _post(OLLAMA, { model: llmModel, messages: [{role: 'user', content: renderedStag}], temperature: temperature }, {timeout: 120000, headers: LLM_HEADERS});\n    var stagLatency = Date.now() - stagStart;\n    var stagResp = stagRes.data.choices[0].message.content;\n    var stagUsage = stagRes.data.usage || {};\n    var abResult = {\n      label: label,\n      production: { version: prodAlias.version, response: prodResp, latency_ms: prodLatency, tokens: prodUsage.total_tokens || 0 },\n      staging: { version: stagingVer, response: stagResp, latency_ms: stagLatency, tokens: stagUsage.total_tokens || 0 }\n    };\n    // Run judges on both if specified\n    if (judges.length > 0) {\n      abResult.production.scores = {};\n      abResult.staging.scores = {};\n      for (var ji = 0; ji < judges.length; ji++) {\n        try {\n          var pj = await runJudge(judges[ji], renderedProd, prodResp, judgeModel);\n          abResult.production.scores[pj.metric] = {score: pj.score, reason: pj.reason};\n        } catch(e) { abResult.production.scores[typeof judges[ji] === 'string' ? judges[ji] : judges[ji].metric] = {error: e.message}; }\n        try {\n          var sj = await runJudge(judges[ji], renderedStag, stagResp, judgeModel);\n          abResult.staging.scores[sj.metric] = {score: sj.score, reason: sj.reason};\n        } catch(e) { abResult.staging.scores[typeof judges[ji] === 'string' ? judges[ji] : judges[ji].metric] = {error: e.message}; }\n      }\n    }\n    abResults.push(abResult);\n  }\n  // Compute summary deltas\n  var prodAvgLat = 0, stagAvgLat = 0, prodAvgTok = 0, stagAvgTok = 0;\n  abResults.forEach(function(r) {\n    prodAvgLat += r.production.latency_ms;\n    stagAvgLat += r.staging.latency_ms;\n    prodAvgTok += r.production.tokens;\n    stagAvgTok += r.staging.tokens;\n  });\n  var n = abResults.length;\n  return {\n    action: 'ab_eval',\n    prompt_name: promptName,\n    production_version: prodAlias.version,\n    staging_version: stagingVer,\n    model: llmModel,\n    results: abResults,\n    summary: {\n      total: n,\n      production: { avg_latency_ms: n > 0 ? Math.round(prodAvgLat / n) : 0, avg_tokens: n > 0 ? Math.round(prodAvgTok / n) : 0 },\n      staging: { avg_latency_ms: n > 0 ? Math.round(stagAvgLat / n) : 0, avg_tokens: n > 0 ? Math.round(stagAvgTok / n) : 0 },\n      latency_delta_pct: prodAvgLat > 0 ? Math.round(((stagAvgLat - prodAvgLat) / prodAvgLat) * 100) : 0\n    }\n  };\n}\n\n// \u2500\u2500 FR-003: Run eval from dataset \u2500\u2500\nif (body.action === 'run_dataset') {\n  var datasetId = body.dataset_id;\n  if (!datasetId) throw new Error('dataset_id required');\n  if (!body.prompt_name) throw new Error('prompt_name required');\n\n  // Fetch dataset run info\n  var dsRunResp = await apiGet('/runs/get?run_id=' + encodeURIComponent(datasetId));\n  var dsRun = dsRunResp.run;\n  var dsInfo = dsRun.info || {};\n  var dsParams = {};\n  (dsRun.data && dsRun.data.params || []).forEach(function(p) { dsParams[p.key] = p.value; });\n  var datasetName = dsParams.dataset_name || dsInfo.run_name || '';\n\n  // Download rows artifact\n  var MA = 'http://mlflow:5050/api/2.0/mlflow-artifacts/artifacts';\n  var artUrl = MA + '/' + dsInfo.experiment_id + '/' + datasetId + '/artifacts/rows.jsonl';\n  var artResp;\n  try {\n    artResp = await _get(artUrl, {responseType: 'text'});\n  } catch(artErr) {\n    throw new Error('No rows artifact found for dataset ' + datasetId + '. Upload dataset with rows first.');\n  }\n  var allRows = String(artResp.data).split('\\n').filter(function(l) { return l.trim(); }).map(function(l) { return JSON.parse(l); });\n\n  // Apply limit\n  var dsLimit = body.limit || allRows.length;\n  if (dsLimit > 200) dsLimit = 200;\n  var dsRows = allRows.slice(0, dsLimit);\n\n  // Map rows to test cases\n  var variableMapping = body.variable_mapping || {};\n  var labelField = body.label_field || null;\n  var dsCases = dsRows.map(function(row, idx) {\n    var vars = {};\n    if (Object.keys(variableMapping).length > 0) {\n      for (var pv of Object.keys(variableMapping)) {\n        var col = variableMapping[pv];\n        vars[pv] = row[col] !== undefined ? String(row[col]) : '';\n      }\n    } else {\n      for (var col of Object.keys(row)) {\n        if (col !== labelField) vars[col] = String(row[col]);\n      }\n    }\n    var lbl = labelField && row[labelField] !== undefined ? String(row[labelField]) : ('row-' + idx);\n    return {variables: vars, label: lbl};\n  });\n\n  // Fetch prompt\n  var promptName = body.prompt_name;\n  var alias = body.alias || 'production';\n  var rm = await apiGet('/registered-models/get?name=' + encodeURIComponent(promptName));\n  var mdl = rm.registered_model;\n  var ae = (mdl.aliases || []).find(function(a) { return a.alias === alias; });\n  if (!ae) throw new Error('Alias ' + alias + ' not found on ' + promptName);\n  var mvResp = await apiGet('/model-versions/get?name=' + encodeURIComponent(promptName) + '&version=' + ae.version);\n  var mv = mvResp.model_version;\n  var vTags = mv.tags || [];\n  var pt = vTags.find(function(t) { return t.key === 'mlflow.prompt.text'; });\n  if (!pt) throw new Error('No mlflow.prompt.text tag found');\n  var template = pt.value;\n  var promptVersion = mv.version;\n\n  // Get or create experiment\n  var expName = body.experiment_name || (promptName + '-eval');\n  var expId;\n  try {\n    var expRes = await apiGet('/experiments/get-by-name?experiment_name=' + encodeURIComponent(expName));\n    expId = expRes.experiment.experiment_id;\n  } catch(e) {\n    var createRes = await post('/experiments/create', {name: expName});\n    expId = createRes.experiment_id;\n  }\n\n  // Run eval loop\n  var llmModel = body.model || $env.INFERENCE_DEFAULT_MODEL || 'qwen2.5:14b';\n  var judgeModel = body.judge_model || llmModel;\n  var temperature = body.temperature !== undefined ? body.temperature : 0;\n  var judges = body.judges || [];\n  var results = [];\n  var totalLatency = 0;\n  var totalTokens = 0;\n  var failures = 0;\n\n  for (var di = 0; di < dsCases.length; di++) {\n    var tc = dsCases[di];\n    var vars = tc.variables || {};\n    var label = tc.label || ('row-' + di);\n\n    var rendered = template;\n    for (var k of Object.keys(vars)) {\n      var pattern = new RegExp('\\\\{\\\\{\\\\s*' + k + '\\\\s*\\\\}\\\\}', 'g');\n      rendered = rendered.replace(pattern, String(vars[k]));\n    }\n\n    var startTime = Date.now();\n    var runRes = await post('/runs/create', {\n      experiment_id: expId,\n      start_time: startTime,\n      run_name: label\n    });\n    var runId = runRes.run.info.run_id;\n\n    var ollamaRes;\n    try {\n      ollamaRes = await _post(OLLAMA, {\n        model: llmModel,\n        messages: [{role: 'user', content: rendered}],\n        temperature: temperature\n      }, {timeout: 120000, headers: LLM_HEADERS});\n    } catch(ollamaErr) {\n      var endTime = Date.now();\n      await post('/runs/update', {run_id: runId, status: 'FAILED', end_time: endTime});\n      results.push({label: label, run_id: runId, error: ollamaErr.message, latency_ms: endTime - startTime});\n      failures++;\n      continue;\n    }\n\n    var endTime = Date.now();\n    var latencyMs = endTime - startTime;\n    var response = ollamaRes.data.choices[0].message.content;\n    var usage = ollamaRes.data.usage || {};\n    var promptTokens = usage.prompt_tokens || 0;\n    var completionTokens = usage.completion_tokens || 0;\n    var usedTokens = usage.total_tokens || (promptTokens + completionTokens);\n\n    await post('/runs/log-batch', {\n      run_id: runId,\n      params: [\n        {key: 'prompt_name', value: promptName},\n        {key: 'prompt_version', value: String(promptVersion)},\n        {key: 'prompt_alias', value: alias},\n        {key: 'model', value: llmModel},\n        {key: 'temperature', value: String(temperature)},\n        {key: 'input', value: rendered.substring(0, 5000)},\n        {key: 'label', value: label},\n        {key: 'dataset_id', value: datasetId}\n      ],\n      metrics: [\n        {key: 'latency_ms', value: latencyMs, timestamp: endTime, step: 0},\n        {key: 'prompt_tokens', value: promptTokens, timestamp: endTime, step: 0},\n        {key: 'completion_tokens', value: completionTokens, timestamp: endTime, step: 0},\n        {key: 'total_tokens', value: usedTokens, timestamp: endTime, step: 0}\n      ],\n      tags: [\n        {key: 'label', value: label},\n        {key: 'prompt_name', value: promptName},\n        {key: 'dataset_id', value: datasetId},\n        {key: 'mlflow.note.content', value: response.substring(0, 5000)}\n      ]\n    });\n\n    var judgeScores = {};\n    if (judges.length > 0) {\n      var judgeMetrics = [];\n      var judgeTime = Date.now();\n      for (var ji = 0; ji < judges.length; ji++) {\n        try {\n          var jr = await runJudge(judges[ji], rendered, response, judgeModel);\n          judgeScores[jr.metric] = {score: jr.score, reason: jr.reason};\n          judgeMetrics.push({key: jr.metric, value: jr.score, timestamp: judgeTime, step: 0});\n        } catch(judgeErr) {\n          judgeScores[typeof judges[ji] === 'string' ? judges[ji] : judges[ji].metric] = {score: null, error: judgeErr.message};\n        }\n      }\n      if (judgeMetrics.length > 0) {\n        await post('/runs/log-batch', {run_id: runId, metrics: judgeMetrics});\n      }\n      await post('/runs/log-batch', {run_id: runId, params: [{key: 'judge_model', value: judgeModel}]});\n    }\n\n    await post('/runs/update', {run_id: runId, status: 'FINISHED', end_time: Date.now()});\n    totalLatency += latencyMs;\n    totalTokens += usedTokens;\n\n    var resultObj = {\n      label: label,\n      run_id: runId,\n      response: response,\n      latency_ms: latencyMs,\n      tokens: {prompt: promptTokens, completion: completionTokens, total: usedTokens}\n    };\n    if (Object.keys(judgeScores).length > 0) resultObj.scores = judgeScores;\n    results.push(resultObj);\n  }\n\n  // Link dataset to experiment (best effort)\n  try {\n    if (results.length > 0 && results[0].run_id) {\n      await post('/runs/log-inputs', {\n        run_id: results[0].run_id,\n        datasets: [{\n          dataset: { name: datasetName, digest: datasetId, source_type: 'local', source: datasetName },\n          tags: [{key: 'dataset_id', value: datasetId}]\n        }]\n      });\n    }\n  } catch(linkErr) { /* best effort */ }\n\n  // FR-004: Build summary with aggregate metrics\n  var n = results.length;\n  var summary = {\n    avg_latency_ms: n > 0 ? Math.round(totalLatency / n) : 0,\n    avg_tokens: n > 0 ? Math.round(totalTokens / n) : 0,\n    pass_rate: n > 0 ? Math.round(((n - failures) / n) * 100) / 100 : 0,\n    failures: failures\n  };\n  if (judges.length > 0) {\n    summary.judge_model = judgeModel;\n    var scoreSums = {};\n    var scoreCounts = {};\n    results.forEach(function(r) {\n      if (!r.scores) return;\n      Object.keys(r.scores).forEach(function(m) {\n        if (r.scores[m].score !== null && r.scores[m].score !== undefined) {\n          scoreSums[m] = (scoreSums[m] || 0) + r.scores[m].score;\n          scoreCounts[m] = (scoreCounts[m] || 0) + 1;\n        }\n      });\n    });\n    var avgScores = {};\n    Object.keys(scoreSums).forEach(function(m) {\n      avgScores[m] = Math.round((scoreSums[m] / scoreCounts[m]) * 1000) / 1000;\n    });\n    summary.avg_scores = avgScores;\n  }\n\n  return {\n    action: 'run_dataset',\n    dataset_id: datasetId,\n    dataset_name: datasetName,\n    prompt_name: promptName,\n    prompt_version: promptVersion,\n    model: llmModel,\n    total_rows: allRows.length,\n    evaluated: n,\n    results: results,\n    summary: summary\n  };\n}\n\n\nif (!body.prompt_name) throw new Error('prompt_name required');\n\n// \u2500\u2500 History mode: no test_cases \u2192 return past eval runs \u2500\u2500\nif (!body.test_cases || !body.test_cases.length) {\n  var expName = body.experiment_name || (body.prompt_name + '-eval');\n  var expId;\n  try {\n    var expRes = await apiGet('/experiments/get-by-name?experiment_name=' + encodeURIComponent(expName));\n    expId = expRes.experiment.experiment_id;\n  } catch(e) {\n    return {action: 'history', prompt_name: body.prompt_name, experiment_name: expName, runs: [], count: 0};\n  }\n  var limit = body.limit || 10;\n  var searchRes = await post('/runs/search', {\n    experiment_ids: [expId],\n    max_results: limit,\n    order_by: ['start_time DESC']\n  });\n  var runs = (searchRes.runs || []).map(function(run) {\n    var info = run.info || {};\n    var params = {};\n    (run.data && run.data.params || []).forEach(function(p) { params[p.key] = p.value; });\n    var metrics = {};\n    (run.data && run.data.metrics || []).forEach(function(m) { metrics[m.key] = m.value; });\n    return {\n      run_id: info.run_id,\n      run_name: info.run_name || '',\n      status: info.status,\n      start_time: Number(info.start_time),\n      end_time: Number(info.end_time),\n      params: params,\n      metrics: metrics\n    };\n  });\n  return {action: 'history', prompt_name: body.prompt_name, experiment_name: expName, runs: runs, count: runs.length};\n}\n\n// 1. Fetch prompt \u2014 use model-versions/get for reliable alias lookup\nvar promptName = body.prompt_name;\nvar alias = body.alias || 'production';\nvar rm = await apiGet('/registered-models/get?name=' + encodeURIComponent(promptName));\nvar model = rm.registered_model;\nvar ae = (model.aliases || []).find(function(a) { return a.alias === alias; });\nif (!ae) throw new Error('Alias ' + alias + ' not found on ' + promptName);\n\nvar mvResp = await apiGet('/model-versions/get?name=' + encodeURIComponent(promptName) + '&version=' + ae.version);\nvar mv = mvResp.model_version;\nvar vTags = mv.tags || [];\nvar pt = vTags.find(function(t) { return t.key === 'mlflow.prompt.text'; });\nif (!pt) throw new Error('No mlflow.prompt.text tag found');\nvar template = pt.value;\nvar promptVersion = mv.version;\n\n// 2. Get or create experiment\nvar expName = body.experiment_name || (promptName + '-eval');\nvar expId;\ntry {\n  var expRes = await apiGet('/experiments/get-by-name?experiment_name=' + encodeURIComponent(expName));\n  expId = expRes.experiment.experiment_id;\n} catch(e) {\n  var createRes = await post('/experiments/create', {name: expName});\n  expId = createRes.experiment_id;\n}\n\n// 3. Run each test case\nvar llmModel = body.model || $env.INFERENCE_DEFAULT_MODEL || 'qwen2.5:14b';\nvar judgeModel = body.judge_model || llmModel;\nvar temperature = body.temperature !== undefined ? body.temperature : 0.7;\nvar judges = body.judges || [];\nvar results = [];\nvar totalLatency = 0;\nvar totalTokens = 0;\n\nfor (var i = 0; i < body.test_cases.length; i++) {\n  var tc = body.test_cases[i];\n  var vars = tc.variables || {};\n  var label = tc.label || ('case-' + i);\n\n  // Render template\n  var rendered = template;\n  for (var k of Object.keys(vars)) {\n    var pattern = new RegExp('\\\\{\\\\{\\\\s*' + k + '\\\\s*\\\\}\\\\}', 'g');\n    rendered = rendered.replace(pattern, String(vars[k]));\n  }\n\n  // Create run\n  var startTime = Date.now();\n  var runRes = await post('/runs/create', {\n    experiment_id: expId,\n    start_time: startTime,\n    run_name: label\n  });\n  var runId = runRes.run.info.run_id;\n\n  // Call inference\n  var ollamaRes;\n  try {\n    ollamaRes = await _post(OLLAMA, {\n      model: llmModel,\n      messages: [{role: 'user', content: rendered}],\n      temperature: temperature\n    }, {timeout: 120000, headers: LLM_HEADERS});\n  } catch(ollamaErr) {\n    var endTime = Date.now();\n    await post('/runs/update', {run_id: runId, status: 'FAILED', end_time: endTime});\n    results.push({label: label, run_id: runId, error: ollamaErr.message, latency_ms: endTime - startTime});\n    continue;\n  }\n\n  var endTime = Date.now();\n  var latencyMs = endTime - startTime;\n  var response = ollamaRes.data.choices[0].message.content;\n  var usage = ollamaRes.data.usage || {};\n  var promptTokens = usage.prompt_tokens || 0;\n  var completionTokens = usage.completion_tokens || 0;\n  var usedTokens = usage.total_tokens || (promptTokens + completionTokens);\n\n  // Log batch \u2014 params, automatic metrics, tags\n  await post('/runs/log-batch', {\n    run_id: runId,\n    params: [\n      {key: 'prompt_name', value: promptName},\n      {key: 'prompt_version', value: String(promptVersion)},\n      {key: 'prompt_alias', value: alias},\n      {key: 'model', value: llmModel},\n      {key: 'temperature', value: String(temperature)},\n      {key: 'input', value: rendered.substring(0, 5000)},\n      {key: 'label', value: label}\n    ],\n    metrics: [\n      {key: 'latency_ms', value: latencyMs, timestamp: endTime, step: 0},\n      {key: 'prompt_tokens', value: promptTokens, timestamp: endTime, step: 0},\n      {key: 'completion_tokens', value: completionTokens, timestamp: endTime, step: 0},\n      {key: 'total_tokens', value: usedTokens, timestamp: endTime, step: 0}\n    ],\n    tags: [\n      {key: 'label', value: label},\n      {key: 'prompt_name', value: promptName},\n      {key: 'mlflow.note.content', value: response.substring(0, 5000)}\n    ]\n  });\n\n  // \u2500\u2500 Run judges (LLM-as-judge scoring) \u2500\u2500\n  var judgeScores = {};\n  if (judges.length > 0) {\n    var judgeMetrics = [];\n    var judgeTime = Date.now();\n    for (var ji = 0; ji < judges.length; ji++) {\n      try {\n        var jr = await runJudge(judges[ji], rendered, response, judgeModel);\n        judgeScores[jr.metric] = {score: jr.score, reason: jr.reason};\n        judgeMetrics.push({key: jr.metric, value: jr.score, timestamp: judgeTime, step: 0});\n      } catch(judgeErr) {\n        judgeScores[typeof judges[ji] === 'string' ? judges[ji] : judges[ji].metric] = {score: null, error: judgeErr.message};\n      }\n    }\n    if (judgeMetrics.length > 0) {\n      await post('/runs/log-batch', {run_id: runId, metrics: judgeMetrics});\n    }\n    if (judges.length > 0) {\n      await post('/runs/log-batch', {run_id: runId, params: [{key: 'judge_model', value: judgeModel}]});\n    }\n  }\n\n  // Finish run\n  await post('/runs/update', {run_id: runId, status: 'FINISHED', end_time: Date.now()});\n\n  totalLatency += latencyMs;\n  totalTokens += usedTokens;\n\n  var resultObj = {\n    label: label,\n    run_id: runId,\n    response: response,\n    latency_ms: latencyMs,\n    tokens: {prompt: promptTokens, completion: completionTokens, total: usedTokens}\n  };\n  if (Object.keys(judgeScores).length > 0) resultObj.scores = judgeScores;\n\n  var evalTraceId = 'tr_eval_' + Date.now() + '_' + Math.random().toString(36).substr(2, 4);\n  _post('http://n8n:5678/webhook/traces', {\n    action: 'log', trace_id: evalTraceId, source: 'eval',\n    model: llmModel, prompt_name: promptName, prompt_version: String(promptVersion),\n    status: 'ok', latency_ms: latencyMs,\n    tokens: { prompt: promptTokens, completion: completionTokens, total: usedTokens }\n  }).catch(function(){});\n  resultObj.trace_id = evalTraceId;\n\n  results.push(resultObj);\n}\n\nvar n = results.length;\nvar resp = {\n  prompt_name: promptName,\n  prompt_version: promptVersion,\n  model: llmModel,\n  experiment_name: expName,\n  results: results,\n  summary: {\n    total: n,\n    avg_latency_ms: n > 0 ? Math.round(totalLatency / n) : 0,\n    avg_tokens: n > 0 ? Math.round(totalTokens / n) : 0\n  }\n};\nif (judges.length > 0) {\n  resp.summary.judge_model = judgeModel;\n  var scoreSums = {};\n  var scoreCounts = {};\n  results.forEach(function(r) {\n    if (!r.scores) return;\n    Object.keys(r.scores).forEach(function(m) {\n      if (r.scores[m].score !== null && r.scores[m].score !== undefined) {\n        scoreSums[m] = (scoreSums[m] || 0) + r.scores[m].score;\n        scoreCounts[m] = (scoreCounts[m] || 0) + 1;\n      }\n    });\n  });\n  var avgScores = {};\n  Object.keys(scoreSums).forEach(function(m) {\n    avgScores[m] = Math.round((scoreSums[m] / scoreCounts[m]) * 1000) / 1000;\n  });\n  resp.summary.avg_scores = avgScores;\n}\nreturn resp;\n\n} catch(e) {\n  var msg = e.message || String(e);\n  if (e.response && e.response.data) msg += ' | ' + JSON.stringify(e.response.data);\n  var status = 400;\n  if (e.response && e.response.status === 404) status = 404;\n  if (msg.indexOf('RESOURCE_DOES_NOT_EXIST') !== -1) status = 404;\n  return {error: true, message: msg, _status: status};\n}"
      },
      "typeVersion": 2
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        720,
        340
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ Object.fromEntries(Object.entries($json).filter(([k]) => k !== '_status')) }}",
        "options": {
          "responseCode": "={{ $json._status || 200 }}"
        }
      },
      "typeVersion": 1.2
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Eval Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eval Handler": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
