n8n-data/workflows/trace.json
{
  "id": "trace-v1",
  "name": "Execution Tracing",
  "active": true,
  "nodes": [
    {
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        240,
        340
      ],
      "parameters": {
        "path": "traces",
        "httpMethod": "POST",
        "responseMode": "responseNode",
        "options": {}
      },
      "typeVersion": 2,
      "webhookId": "trace-webhook-id"
    },
    {
      "id": "trace-handler",
      "name": "Trace Handler",
      "type": "n8n-nodes-base.code",
      "position": [
        480,
        340
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// fetch-based HTTP helpers (replaces axios to avoid task runner crash)\nasync function _post(url, data, opts) {\n  var headers = {'Content-Type': 'application/json'};\n  if (opts && opts.headers) Object.assign(headers, opts.headers);\n  var r = await fetch(url, {method:'POST', headers: headers, body: JSON.stringify(data), signal: opts && opts.timeout ? AbortSignal.timeout(opts.timeout) : undefined});\n  var text = await r.text();\n  var json; try { json = JSON.parse(text); } catch(e) { json = text; }\n  if (!r.ok) { var err = new Error('HTTP ' + r.status); err.response = {status: r.status, data: json}; throw err; }\n  return {data: json, status: r.status};\n}\nasync function _get(url, opts) {\n  var qurl = url;\n  if (opts && opts.params) { var qs = new URLSearchParams(opts.params).toString(); if (qs) qurl += (url.includes('?') ? '&' : '?') + qs; }\n  var headers = {};\n  if (opts && opts.headers) Object.assign(headers, opts.headers);\n  var r = await fetch(qurl, {headers: headers, signal: opts && opts.timeout ? AbortSignal.timeout(opts.timeout) : undefined});\n  var text = await r.text();\n  var json; try { json = JSON.parse(text); } catch(e) { json = text; }\n  if (!r.ok) { var err = new Error('HTTP ' + r.status); err.response = {status: r.status, data: json}; throw err; }\n  return {data: json, status: r.status};\n}\nasync function _del(url, opts) {\n  var headers = {'Content-Type': 'application/json'};\n  if (opts && opts.headers) Object.assign(headers, opts.headers);\n  var r = await fetch(url, {method:'DELETE', headers: headers, body: opts && opts.data ? JSON.stringify(opts.data) : undefined});\n  var text = await r.text();\n  var json; try { json = JSON.parse(text); } catch(e) { json = text; }\n  if (!r.ok) { var err = new Error('HTTP ' + r.status); err.response = {status: r.status, data: json}; throw err; }\n  return {data: json, status: r.status};\n}\nasync function _put(url, body, opts) {\n  var headers = {};\n  if (opts && opts.headers) Object.assign(headers, opts.headers);\n  var r = await fetch(url, {method:'PUT', headers: headers, body: typeof body === 'string' ? body : JSON.stringify(body)});\n  var text = await r.text();\n  var json; try { json = JSON.parse(text); } catch(e) { json = text; }\n  return {data: json, status: r.status};\n}\nconst M = 'http://mlflow:5050/api/2.0/mlflow';\nconst body = $input.item.json.body;\nconst action = body.action;\n\ntry {\n\nif (!action) throw new Error('action required: log, get, search, summary, feedback, feedback_search, export_corrections, promote, baseline_set, baseline_get, drift_check');\n\nasync function post(path, data) {\n  var r = await fetch(M + path, {method:'POST',headers:{'Content-Type':'application/json'},body:JSON.stringify(data)});\n  if (!r.ok) throw new Error('MLflow ' + r.status + ': ' + (await r.text()));\n  return r.json();\n}\n\nasync function apiGet(path) {\n  var r = await fetch(M + path);\n  if (!r.ok) throw new Error('MLflow ' + r.status + ': ' + (await r.text()));\n  return r.json();\n}\n\n// Helper: get or create experiment by name\nasync function getOrCreateExperiment(name) {\n  try {\n    var res = await apiGet('/experiments/get-by-name?experiment_name=' + encodeURIComponent(name));\n    return res.experiment.experiment_id;\n  } catch(e) {\n    var cr = await post('/experiments/create', {name: name});\n    return cr.experiment_id;\n  }\n}\n\n// Helper: find run by tag\nasync function findRunByTag(expId, tagKey, tagValue) {\n  var filter = \"tags.`\" + tagKey + \"` = '\" + tagValue.replace(/'/g, \"\\\\'\") + \"'\";\n  var res = await post('/runs/search', {\n    experiment_ids: [expId],\n    filter: filter,\n    max_results: 1\n  });\n  return (res.runs && res.runs.length > 0) ? res.runs[0] : null;\n}\n\n// \u2500\u2500 LOG \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (action === 'log') {\n  var traceId = body.trace_id;\n  if (!traceId) throw new Error('trace_id required');\n  var source = body.source || 'unknown';\n  var expId = await getOrCreateExperiment('__traces');\n  var startTime = Date.now();\n  var runRes = await post('/runs/create', {\n    experiment_id: expId,\n    start_time: startTime,\n    run_name: traceId\n  });\n  var runId = runRes.run.info.run_id;\n\n  var params = [\n    {key: 'trace_id', value: traceId},\n    {key: 'source', value: source},\n    {key: 'model', value: body.model || ''},\n    {key: 'status', value: body.status || 'ok'}\n  ];\n  if (body.prompt_name) params.push({key: 'prompt_name', value: body.prompt_name});\n  if (body.prompt_version) params.push({key: 'prompt_version', value: String(body.prompt_version)});\n  if (body.input) params.push({key: 'input', value: String(body.input).substring(0, 5000)});\n  if (body.output) params.push({key: 'output', value: String(body.output).substring(0, 5000)});\n\n  var metrics = [];\n  if (body.latency_ms != null) metrics.push({key: 'latency_ms', value: Number(body.latency_ms), timestamp: startTime, step: 0});\n  var tokens = body.tokens || {};\n  if (tokens.prompt != null) metrics.push({key: 'prompt_tokens', value: Number(tokens.prompt), timestamp: startTime, step: 0});\n  if (tokens.completion != null) metrics.push({key: 'completion_tokens', value: Number(tokens.completion), timestamp: startTime, step: 0});\n  if (tokens.total != null) metrics.push({key: 'total_tokens', value: Number(tokens.total), timestamp: startTime, step: 0});\n  if (body.tool_call_count != null) metrics.push({key: 'tool_call_count', value: Number(body.tool_call_count), timestamp: startTime, step: 0});\n\n  var tags = [{key: 'trace_id', value: traceId}];\n  if (body.metadata) tags.push({key: 'mlflow.note.content', value: JSON.stringify(body.metadata).substring(0, 5000)});\n\n  await post('/runs/log-batch', {run_id: runId, params: params, metrics: metrics, tags: tags});\n  await post('/runs/update', {run_id: runId, status: 'FINISHED', end_time: Date.now()});\n  return {action: 'log', trace_id: traceId, run_id: runId, source: source};\n}\n\n// \u2500\u2500 GET \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (action === 'get') {\n  var traceId = body.trace_id;\n  if (!traceId) throw new Error('trace_id required');\n  var expId;\n  try {\n    var expRes = await apiGet('/experiments/get-by-name?experiment_name=' + encodeURIComponent('__traces'));\n    expId = expRes.experiment.experiment_id;\n  } catch(e) {\n    throw new Error('No traces found (experiment does not exist)');\n  }\n  var run = await findRunByTag(expId, 'trace_id', traceId);\n  if (!run) { return {error: true, message: 'Trace not found: ' + traceId, _status: 404}; }\n  var info = run.info || {};\n  var params = {};\n  (run.data && run.data.params || []).forEach(function(p) { params[p.key] = p.value; });\n  var metrics = {};\n  (run.data && run.data.metrics || []).forEach(function(m) { metrics[m.key] = m.value; });\n  var tags = {};\n  (run.data && run.data.tags || []).forEach(function(t) { tags[t.key] = t.value; });\n  return {\n    action: 'get',\n    trace_id: traceId,\n    run_id: info.run_id,\n    source: params.source || '',\n    model: params.model || '',\n    prompt_name: params.prompt_name || null,\n    prompt_version: params.prompt_version || null,\n    status: params.status || '',\n    latency_ms: metrics.latency_ms || null,\n    tokens: {\n      prompt: metrics.prompt_tokens || null,\n      completion: metrics.completion_tokens || null,\n      total: metrics.total_tokens || null\n    },\n    tool_call_count: metrics.tool_call_count || null,\n    feedback_rating: metrics.feedback_rating || null,\n    feedback_correction: tags.feedback_correction || null,\n    created_at: Number(info.start_time)\n  };\n}\n\n// \u2500\u2500 SEARCH \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (action === 'search') {\n  var expId;\n  try {\n    var expRes = await apiGet('/experiments/get-by-name?experiment_name=' + encodeURIComponent('__traces'));\n    expId = expRes.experiment.experiment_id;\n  } catch(e) {\n    return {action: 'search', traces: [], count: 0};\n  }\n  var limit = body.limit || 25;\n  var filters = [];\n  function esc(v) { return String(v).replace(/'/g, \"\\\\'\"  ); }\n  if (body.source) filters.push(\"params.source = '\" + esc(body.source) + \"'\");\n  if (body.prompt_name) filters.push(\"params.prompt_name = '\" + esc(body.prompt_name) + \"'\");\n  if (body.status) filters.push(\"params.status = '\" + esc(body.status) + \"'\");\n  if (body.model) filters.push(\"params.model = '\" + esc(body.model) + \"'\");\n  var searchBody = {\n    experiment_ids: [expId],\n    max_results: limit,\n    order_by: ['start_time DESC']\n  };\n  if (filters.length > 0) searchBody.filter = filters.join(' AND ');\n  var searchRes = await post('/runs/search', searchBody);\n  var traces = (searchRes.runs || []).map(function(run) {\n    var info = run.info || {};\n    var params = {};\n    (run.data && run.data.params || []).forEach(function(p) { params[p.key] = p.value; });\n    var metrics = {};\n    (run.data && run.data.metrics || []).forEach(function(m) { metrics[m.key] = m.value; });\n    return {\n      trace_id: params.trace_id || info.run_name || '',\n      run_id: info.run_id,\n      source: params.source || '',\n      model: params.model || '',\n      prompt_name: params.prompt_name || null,\n      status: params.status || '',\n      latency_ms: metrics.latency_ms || null,\n      total_tokens: metrics.total_tokens || null,\n      feedback_rating: metrics.feedback_rating || null,\n      created_at: Number(info.start_time)\n    };\n  });\n  return {action: 'search', traces: traces, count: traces.length};\n}\n\n// \u2500\u2500 SUMMARY \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (action === 'summary') {\n  var expId;\n  try {\n    var expRes = await apiGet('/experiments/get-by-name?experiment_name=' + encodeURIComponent('__traces'));\n    expId = expRes.experiment.experiment_id;\n  } catch(e) {\n    return {action: 'summary', total_calls: 0, avg_latency_ms: 0, total_tokens: 0, by_source: {}};\n  }\n  var searchBody = {\n    experiment_ids: [expId],\n    max_results: body.limit || 1000,\n    order_by: ['start_time DESC']\n  };\n  // Time filter: since = ISO date or hours integer\n  if (body.since) {\n    var sinceTs;\n    if (typeof body.since === 'number') {\n      sinceTs = Date.now() - (body.since * 3600000);\n    } else {\n      sinceTs = new Date(body.since).getTime();\n    }\n    searchBody.filter = \"attributes.start_time > \" + sinceTs;\n  }\n  var searchRes = await post('/runs/search', searchBody);\n  var runs = searchRes.runs || [];\n  var totalLatency = 0;\n  var totalTokens = 0;\n  var latencyCount = 0;\n  var bySource = {};\n  var errorCount = 0;\n  runs.forEach(function(run) {\n    var params = {};\n    (run.data && run.data.params || []).forEach(function(p) { params[p.key] = p.value; });\n    var metrics = {};\n    (run.data && run.data.metrics || []).forEach(function(m) { metrics[m.key] = m.value; });\n    var src = params.source || 'unknown';\n    if (!bySource[src]) bySource[src] = {count: 0, total_latency_ms: 0, total_tokens: 0, errors: 0};\n    bySource[src].count++;\n    if (metrics.latency_ms != null) { totalLatency += metrics.latency_ms; bySource[src].total_latency_ms += metrics.latency_ms; latencyCount++; }\n    if (metrics.total_tokens != null) { totalTokens += metrics.total_tokens; bySource[src].total_tokens += metrics.total_tokens; }\n    if (params.status === 'error') { errorCount++; bySource[src].errors++; }\n  });\n  // Compute averages per source\n  Object.keys(bySource).forEach(function(src) {\n    var s = bySource[src];\n    s.avg_latency_ms = s.count > 0 ? Math.round(s.total_latency_ms / s.count) : 0;\n    delete s.total_latency_ms;\n  });\n  return {\n    action: 'summary',\n    total_calls: runs.length,\n    avg_latency_ms: latencyCount > 0 ? Math.round(totalLatency / latencyCount) : 0,\n    total_tokens: totalTokens,\n    error_count: errorCount,\n    error_rate: runs.length > 0 ? Math.round((errorCount / runs.length) * 1000) / 1000 : 0,\n    by_source: bySource\n  };\n}\n\n// \u2500\u2500 FEEDBACK \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (action === 'feedback') {\n  var traceId = body.trace_id;\n  var rating = body.rating;\n  if (!traceId) throw new Error('trace_id required');\n  if (rating == null || rating < 1 || rating > 5) throw new Error('rating required (1-5)');\n  var expId;\n  try {\n    var expRes = await apiGet('/experiments/get-by-name?experiment_name=' + encodeURIComponent('__traces'));\n    expId = expRes.experiment.experiment_id;\n  } catch(e) {\n    throw new Error('No traces found');\n  }\n  var run = await findRunByTag(expId, 'trace_id', traceId);\n  if (!run) { return {error: true, message: 'Trace not found: ' + traceId, _status: 404}; }\n  var runId = run.info.run_id;\n  var ts = Date.now();\n  var batchReq = {\n    run_id: runId,\n    metrics: [{key: 'feedback_rating', value: Number(rating), timestamp: ts, step: 0}],\n    tags: []\n  };\n  if (body.correction) batchReq.tags.push({key: 'feedback_correction', value: String(body.correction).substring(0, 5000)});\n  if (body.annotator) batchReq.tags.push({key: 'feedback_annotator', value: String(body.annotator)});\n  if (body.tags && Array.isArray(body.tags)) batchReq.tags.push({key: 'feedback_tags', value: body.tags.join(',')});\n  batchReq.metrics.push({key: 'has_correction', value: body.correction ? 1 : 0, timestamp: ts, step: 0});\n  await post('/runs/log-batch', batchReq);\n  // Auto-promote if rating >= 4 or correction exists\n  var shouldPromote = (rating >= 4 || body.correction) && body.auto_promote !== false;\n  var promoted = null;\n  if (shouldPromote) {\n    try {\n      var N8N_SELF = $env.N8N_INTERNAL_URL || 'http://n8n:5678/webhook';\n      var promoteResp = await _post(N8N_SELF + '/traces', {\n        action: 'promote',\n        trace_id: traceId,\n        task: body.task || 'general',\n        tags: body.tags || ['auto-promoted', 'rating-' + rating]\n      }, {timeout: 60000, headers: {'X-API-Key': $env.WEBHOOK_API_KEY || ''}});\n      promoted = promoteResp.data;\n    } catch(promoteErr) {\n      promoted = {error: true, message: promoteErr.message || String(promoteErr)};\n    }\n  }\n  return {action: 'feedback', trace_id: traceId, run_id: runId, rating: rating, status: 'recorded', promoted: promoted};\n}\n\n// \u2500\u2500 FEEDBACK_SEARCH \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (action === 'feedback_search') {\n  var expId;\n  try {\n    var expRes = await apiGet('/experiments/get-by-name?experiment_name=' + encodeURIComponent('__traces'));\n    expId = expRes.experiment.experiment_id;\n  } catch(e) {\n    return {action: 'feedback_search', traces: [], count: 0};\n  }\n  var filters = ['metrics.feedback_rating > 0'];\n  if (body.rating_min) filters.push('metrics.feedback_rating >= ' + Number(body.rating_min));\n  if (body.rating_max) filters.push('metrics.feedback_rating <= ' + Number(body.rating_max));\n  if (body.has_correction) filters.push('metrics.has_correction = 1');\n  var searchRes = await post('/runs/search', {\n    experiment_ids: [expId],\n    filter: filters.join(' AND '),\n    max_results: body.limit || 25,\n    order_by: ['start_time DESC']\n  });\n  var traces = (searchRes.runs || []).map(function(run) {\n    var info = run.info || {};\n    var params = {};\n    (run.data && run.data.params || []).forEach(function(p) { params[p.key] = p.value; });\n    var metrics = {};\n    (run.data && run.data.metrics || []).forEach(function(m) { metrics[m.key] = m.value; });\n    var tags = {};\n    (run.data && run.data.tags || []).forEach(function(t) { tags[t.key] = t.value; });\n    return {\n      trace_id: params.trace_id || '',\n      run_id: info.run_id,\n      source: params.source || '',\n      model: params.model || '',\n      prompt_name: params.prompt_name || null,\n      rating: metrics.feedback_rating || null,\n      correction: tags.feedback_correction || null,\n      annotator: tags.feedback_annotator || null\n    };\n  });\n  return {action: 'feedback_search', traces: traces, count: traces.length};\n}\n\n// \u2500\u2500 EXPORT_CORRECTIONS \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (action === 'export_corrections') {\n  var expId;\n  try {\n    var expRes = await apiGet('/experiments/get-by-name?experiment_name=' + encodeURIComponent('__traces'));\n    expId = expRes.experiment.experiment_id;\n  } catch(e) {\n    return {action: 'export_corrections', corrections: [], count: 0};\n  }\n  var searchRes = await post('/runs/search', {\n    experiment_ids: [expId],\n    filter: 'metrics.has_correction = 1',\n    max_results: body.limit || 100,\n    order_by: ['start_time DESC']\n  });\n  var corrections = (searchRes.runs || []).map(function(run) {\n    var info = run.info || {};\n    var params = {};\n    (run.data && run.data.params || []).forEach(function(p) { params[p.key] = p.value; });\n    var tags = {};\n    (run.data && run.data.tags || []).forEach(function(t) { tags[t.key] = t.value; });\n    var metrics = {};\n    (run.data && run.data.metrics || []).forEach(function(m) { metrics[m.key] = m.value; });\n    return {\n      trace_id: params.trace_id || '',\n      source: params.source || '',\n      prompt_name: params.prompt_name || null,\n      model: params.model || '',\n      correction: tags.feedback_correction || '',\n      rating: metrics.feedback_rating || null,\n      annotator: tags.feedback_annotator || null,\n      created_at: Number(info.start_time)\n    };\n  });\n  return {action: 'export_corrections', corrections: corrections, count: corrections.length};\n}\n\n\n// \u2500\u2500 BASELINE_SET_BENCHMARK \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (action === 'baseline_set_benchmark') {\n  var promptName = body.prompt_name;\n  if (!promptName) throw new Error('prompt_name required');\n  var scores = body.scores || {};\n  var passRate = body.pass_rate;\n  var casesEvaluated = body.cases_evaluated;\n  var version = body.version || '';\n\n  var expId = await getOrCreateExperiment('__baselines');\n  // End existing baseline if found\n  var existing = await findRunByTag(expId, 'prompt_name', promptName);\n  if (existing && existing.info.status === 'RUNNING') {\n    await post('/runs/update', {run_id: existing.info.run_id, status: 'FINISHED', end_time: Date.now()});\n  }\n\n  var ts = Date.now();\n  var runRes = await post('/runs/create', {\n    experiment_id: expId,\n    start_time: ts,\n    run_name: 'baseline-benchmark-' + promptName\n  });\n  var runId = runRes.run.info.run_id;\n\n  var batchMetrics = [];\n  // Store individual score metrics\n  var scoreKeys = Object.keys(scores);\n  for (var si = 0; si < scoreKeys.length; si++) {\n    batchMetrics.push({key: 'score_' + scoreKeys[si], value: Number(scores[scoreKeys[si]]), timestamp: ts, step: 0});\n  }\n  if (passRate != null) batchMetrics.push({key: 'pass_rate', value: Number(passRate), timestamp: ts, step: 0});\n  if (casesEvaluated != null) batchMetrics.push({key: 'cases_evaluated', value: Number(casesEvaluated), timestamp: ts, step: 0});\n  if (body.latency_p50_ms != null) batchMetrics.push({key: 'latency_p50_ms', value: Number(body.latency_p50_ms), timestamp: ts, step: 0});\n  if (body.latency_p95_ms != null) batchMetrics.push({key: 'latency_p95_ms', value: Number(body.latency_p95_ms), timestamp: ts, step: 0});\n\n  var batchTags = [\n    {key: 'prompt_name', value: promptName},\n    {key: 'baseline_type', value: 'benchmark'}\n  ];\n  if (version) batchTags.push({key: 'prompt_version', value: String(version)});\n\n  await post('/runs/log-batch', {\n    run_id: runId,\n    params: [{key: 'prompt_name', value: promptName}],\n    metrics: batchMetrics,\n    tags: batchTags\n  });\n  await post('/runs/update', {run_id: runId, status: 'FINISHED', end_time: Date.now()});\n  return {action: 'baseline_set_benchmark', prompt_name: promptName, run_id: runId, scores: scores, pass_rate: passRate, status: 'baseline_set'};\n}\n\n// \u2500\u2500 BASELINE_SET \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (action === 'baseline_set') {\n  var promptName = body.prompt_name;\n  var metricsObj = body.metrics;\n  if (!promptName) throw new Error('prompt_name required');\n  if (!metricsObj) throw new Error('metrics object required (avg_latency_ms, avg_tokens, error_rate)');\n  var expId = await getOrCreateExperiment('__baselines');\n  // Check for existing baseline \u2014 end it if found\n  var existing = await findRunByTag(expId, 'prompt_name', promptName);\n  if (existing && existing.info.status === 'RUNNING') {\n    await post('/runs/update', {run_id: existing.info.run_id, status: 'FINISHED', end_time: Date.now()});\n  }\n  var ts = Date.now();\n  var runRes = await post('/runs/create', {\n    experiment_id: expId,\n    start_time: ts,\n    run_name: 'baseline-' + promptName\n  });\n  var runId = runRes.run.info.run_id;\n  var batchMetrics = [];\n  if (metricsObj.avg_latency_ms != null) batchMetrics.push({key: 'avg_latency_ms', value: Number(metricsObj.avg_latency_ms), timestamp: ts, step: 0});\n  if (metricsObj.avg_tokens != null) batchMetrics.push({key: 'avg_tokens', value: Number(metricsObj.avg_tokens), timestamp: ts, step: 0});\n  if (metricsObj.error_rate != null) batchMetrics.push({key: 'error_rate', value: Number(metricsObj.error_rate), timestamp: ts, step: 0});\n  await post('/runs/log-batch', {\n    run_id: runId,\n    params: [{key: 'prompt_name', value: promptName}],\n    metrics: batchMetrics,\n    tags: [{key: 'prompt_name', value: promptName}]\n  });\n  await post('/runs/update', {run_id: runId, status: 'FINISHED', end_time: Date.now()});\n  return {action: 'baseline_set', prompt_name: promptName, run_id: runId, metrics: metricsObj, status: 'baseline_set'};\n}\n\n// \u2500\u2500 BASELINE_GET \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (action === 'baseline_get') {\n  var promptName = body.prompt_name;\n  if (!promptName) throw new Error('prompt_name required');\n  var expId;\n  try {\n    var expRes = await apiGet('/experiments/get-by-name?experiment_name=' + encodeURIComponent('__baselines'));\n    expId = expRes.experiment.experiment_id;\n  } catch(e) {\n    return {error: true, message: 'No baselines found', _status: 404};\n  }\n  // Find most recent baseline for this prompt\n  var safePN = String(promptName).replace(/'/g, \"\\\\'\" );\n  var searchRes = await post('/runs/search', {\n    experiment_ids: [expId],\n    filter: \"tags.`prompt_name` = '\" + safePN + \"'\",\n    max_results: 1,\n    order_by: ['start_time DESC']\n  });\n  var runs = searchRes.runs || [];\n  if (runs.length === 0) return {error: true, message: 'No baseline for: ' + promptName, _status: 404};\n  var run = runs[0];\n  var metrics = {};\n  (run.data && run.data.metrics || []).forEach(function(m) { metrics[m.key] = m.value; });\n  return {\n    action: 'baseline_get',\n    prompt_name: promptName,\n    run_id: run.info.run_id,\n    metrics: metrics,\n    created_at: Number(run.info.start_time)\n  };\n}\n\n// \u2500\u2500 DRIFT_CHECK \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (action === 'drift_check') {\n  var promptName = body.prompt_name;\n  if (!promptName) throw new Error('prompt_name required');\n  var windowHours = body.window_hours || 24;\n  // Get baseline\n  var baselineExpId;\n  try {\n    var expRes = await apiGet('/experiments/get-by-name?experiment_name=' + encodeURIComponent('__baselines'));\n    baselineExpId = expRes.experiment.experiment_id;\n  } catch(e) {\n    return {error: true, message: 'No baselines found \u2014 set a baseline first', _status: 404};\n  }\n  var safeDriftPN = String(promptName).replace(/'/g, \"\\\\'\" );\n  var baseRes = await post('/runs/search', {\n    experiment_ids: [baselineExpId],\n    filter: \"tags.`prompt_name` = '\" + safeDriftPN + \"'\",\n    max_results: 1,\n    order_by: ['start_time DESC']\n  });\n  if (!baseRes.runs || baseRes.runs.length === 0) return {error: true, message: 'No baseline for: ' + promptName, _status: 404};\n  var baseMetrics = {};\n  (baseRes.runs[0].data && baseRes.runs[0].data.metrics || []).forEach(function(m) { baseMetrics[m.key] = m.value; });\n\n  // Get recent traces for this prompt\n  var traceExpId;\n  try {\n    var traceRes = await apiGet('/experiments/get-by-name?experiment_name=' + encodeURIComponent('__traces'));\n    traceExpId = traceRes.experiment.experiment_id;\n  } catch(e) {\n    return {action: 'drift_check', prompt_name: promptName, drifted: false, reason: 'no traces yet', current: {}, baseline: baseMetrics};\n  }\n  var sinceTs = Date.now() - (windowHours * 3600000);\n  var traceSearch = await post('/runs/search', {\n    experiment_ids: [traceExpId],\n    filter: \"params.prompt_name = '\" + safeDriftPN + \"' AND attributes.start_time > \" + sinceTs,\n    max_results: 500\n  });\n  var traces = traceSearch.runs || [];\n  if (traces.length === 0) return {action: 'drift_check', prompt_name: promptName, drifted: false, reason: 'no recent traces', current: {}, baseline: baseMetrics, window_hours: windowHours};\n\n  var totalLat = 0, latCount = 0, totalTok = 0, errorCount = 0;\n  traces.forEach(function(run) {\n    var m = {};\n    (run.data && run.data.metrics || []).forEach(function(met) { m[met.key] = met.value; });\n    var p = {};\n    (run.data && run.data.params || []).forEach(function(par) { p[par.key] = par.value; });\n    if (m.latency_ms != null) { totalLat += m.latency_ms; latCount++; }\n    if (m.total_tokens != null) totalTok += m.total_tokens;\n    if (p.status === 'error') errorCount++;\n  });\n  var currentMetrics = {\n    avg_latency_ms: latCount > 0 ? Math.round(totalLat / latCount) : 0,\n    avg_tokens: traces.length > 0 ? Math.round(totalTok / traces.length) : 0,\n    error_rate: traces.length > 0 ? Math.round((errorCount / traces.length) * 1000) / 1000 : 0,\n    sample_size: traces.length\n  };\n\n  // Compare against baseline thresholds (drift = >20% degradation)\n  var drifted = false;\n  var reasons = [];\n  if (baseMetrics.avg_latency_ms && currentMetrics.avg_latency_ms > baseMetrics.avg_latency_ms * 1.2) {\n    drifted = true;\n    reasons.push('latency +' + Math.round(((currentMetrics.avg_latency_ms / baseMetrics.avg_latency_ms) - 1) * 100) + '%');\n  }\n  if (baseMetrics.error_rate != null && currentMetrics.error_rate > baseMetrics.error_rate * 1.5) {\n    drifted = true;\n    reasons.push('error_rate +' + Math.round(((currentMetrics.error_rate / (baseMetrics.error_rate || 0.001)) - 1) * 100) + '%');\n  }\n  return {\n    action: 'drift_check',\n    prompt_name: promptName,\n    drifted: drifted,\n    reasons: reasons,\n    current: currentMetrics,\n    baseline: baseMetrics,\n    window_hours: windowHours\n  };\n}\n\n// \u2500\u2500 HEALTH \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (action === 'health') {\n  var traceExp = null;\n  try {\n    var expRes = await apiGet('/experiments/get-by-name?experiment_name=' + encodeURIComponent('__traces'));\n    traceExp = expRes.experiment;\n  } catch(e) {}\n  var recentCount = 0;\n  if (traceExp) {\n    var since1h = Date.now() - 3600000;\n    var recent = await post('/runs/search', {\n      experiment_ids: [traceExp.experiment_id],\n      filter: 'attributes.start_time > ' + since1h,\n      max_results: 1000\n    });\n    recentCount = (recent.runs || []).length;\n  }\n  return {\n    action: 'health',\n    status: 'ok',\n    traces_experiment: traceExp ? {id: traceExp.experiment_id, name: traceExp.name} : null,\n    traces_last_hour: recentCount,\n    timestamp: Date.now()\n  };\n}\n\n// \u2500\u2500 PROMOTE \u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\nif (action === 'promote') {\n  var traceId = body.trace_id;\n  if (!traceId) throw new Error('trace_id required');\n  var expId;\n  try {\n    var expRes = await apiGet('/experiments/get-by-name?experiment_name=' + encodeURIComponent('__traces'));\n    expId = expRes.experiment.experiment_id;\n  } catch(e) {\n    throw new Error('No traces found');\n  }\n  var run = await findRunByTag(expId, 'trace_id', traceId);\n  if (!run) return {error: true, message: 'Trace not found: ' + traceId, _status: 404};\n  var params = {};\n  (run.data && run.data.params || []).forEach(function(p) { params[p.key] = p.value; });\n  var metrics = {};\n  (run.data && run.data.metrics || []).forEach(function(m) { metrics[m.key] = m.value; });\n  var tags = {};\n  (run.data && run.data.tags || []).forEach(function(t) { tags[t.key] = t.value; });\n  if (!params.input) return {error: true, message: 'Trace has no input stored (logged before input/output support)', _status: 400};\n  var input = params.input;\n  var traceOutput = params.output || '';\n  var correction = tags.feedback_correction || '';\n  var expected = correction || traceOutput;\n  if (!expected) return {error: true, message: 'No output or correction available for promotion', _status: 400};\n  // Determine domain and task from prompt_name (e.g. 'coder.SYSTEM' -> domain='coder')\n  var promptName = params.prompt_name || params.source || 'unknown';\n  var domain = promptName.split('.')[0];\n  var taskName = body.task || 'general';\n  // Generate criteria via LLM\n  var criteria = body.criteria || '';\n  if (!criteria) {\n    var INFERENCE_BASE = $env.INFERENCE_BASE_URL || 'http://litellm:4000/v1';\n    var INFERENCE_KEY = $env.LITELLM_API_KEY || '';\n    var criteriaModel = $env.INFERENCE_DEFAULT_MODEL || 'qwen2.5:14b';\n    try {\n      var llmHeaders = INFERENCE_KEY ? {'Authorization': 'Bearer ' + INFERENCE_KEY} : {};\n      var criteriaResp = await _post(INFERENCE_BASE + '/chat/completions', {\n        model: criteriaModel,\n        messages: [\n          {role: 'system', content: 'Generate a concise evaluation criteria sentence for judging an LLM response. The criteria should describe what a good response must include. Reply with ONLY the criteria text, no explanation. Keep it under 100 words.'},\n          {role: 'user', content: 'Input: ' + input.substring(0, 1000) + '\\n\\nExpected output: ' + expected.substring(0, 1000)}\n        ],\n        temperature: 0.1,\n        max_tokens: 200\n      }, {timeout: 30000, headers: llmHeaders});\n      criteria = criteriaResp.data.choices[0].message.content.trim();\n    } catch(llmErr) {\n      criteria = 'Response should address the input accurately and completely.';\n    }\n  }\n  // Build benchmark case\n  var benchmarkCase = {\n    input: input,\n    expected: expected,\n    criteria: criteria,\n    domain: domain,\n    task: taskName,\n    tags: body.tags || ['auto-promoted']\n  };\n  // Push to MLflow dataset via mlflow-data-v1\n  var N8N_BASE = $env.N8N_INTERNAL_URL || 'http://n8n:5678/webhook';\n  var datasetName = domain + '.' + taskName;\n  try {\n    await _post(N8N_BASE + '/datasets', {\n      action: 'upload',\n      name: datasetName,\n      source: 'auto-promote',\n      rows: [benchmarkCase]\n    }, {timeout: 30000, headers: {'X-API-Key': $env.WEBHOOK_API_KEY || ''}});\n  } catch(dsErr) {\n    return {error: true, message: 'Dataset upload failed: ' + (dsErr.message || String(dsErr)), _status: 500};\n  }\n  // Tag the trace run as promoted\n  await post('/runs/log-batch', {\n    run_id: run.info.run_id,\n    tags: [{key: 'promoted', value: 'true'}, {key: 'promoted_dataset', value: datasetName}, {key: 'promoted_at', value: new Date().toISOString()}],\n    metrics: [{key: 'promoted', value: 1, timestamp: Date.now(), step: 0}]\n  });\n  return {action: 'promote', trace_id: traceId, dataset: datasetName, case: benchmarkCase, status: 'promoted'};\n}\n\nthrow new Error('Unknown action: ' + action);\n\n} catch(e) {\n  var msg = e.message || String(e);\n  if (e.response && e.response.data) msg += ' | ' + JSON.stringify(e.response.data);\n  var status = 400;\n  if (e.response && e.response.status === 404) status = 404;\n  if (msg.indexOf('RESOURCE_DOES_NOT_EXIST') !== -1) status = 404;\n  return {error: true, message: msg, action: action || 'unknown', _status: status};\n}"
      },
      "typeVersion": 2
    },
    {
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        720,
        340
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ Object.fromEntries(Object.entries($json).filter(([k]) => k !== '_status')) }}",
        "options": {
          "responseCode": "={{ $json._status || 200 }}"
        }
      },
      "typeVersion": 1.2
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Trace Handler",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trace Handler": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
